@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

html {
  scroll-behavior: smooth;
}

.btn {
  animation: btn 0.3s ease;
}

/* active nav large screen */
.active {
  padding: 0.75rem 1.25rem;
  border-radius: 8px;
  color: #e5e3e3;
  background-color: #0052da;
  transition-duration: 200ms;
}

/* active nav small screen */

.active-small {
  color: #253041 !important;
}

/* arrow down */

.arrow-down::after {
  content: "";
  position: absolute;
  left: 30px;
  bottom: -48px;
  border: 25px solid;
  border-color: #f5f8fe transparent transparent transparent;
}

.arrow-down-ar::after {
  content: "";
  position: absolute;
  right: 30px;
  bottom: -48px;
  border: 25px solid;
  border-color: #f5f8fe transparent transparent transparent;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  width: 25px;
  height: 12px;
  background-color: #fff;
  border-radius: 14px;
  transition: all 0.8s ease-in-out;
}

.swiper-pagination-bullet-active {
  width: 40px;
  background-image: linear-gradient(90deg, #e5e5e5 0%, #0075ff 100%);
}

@media (max-width: 700px) {
  .swiper-pagination-bullet {
    width: 20px;
  }

  .swiper-pagination-bullet-active {
    width: 30px;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.notfound {
  font-size: 30px;
  color: red;
}

div.image {
  background-image: url("/discount-background1.jpg");
  background-size: cover;
  color: white;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  animation: change-background 20s linear infinite;
}
div.image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #0054dae0;
}

.soon {
  pointer-events: none !important;
  opacity: 0.5 !important;
}

.swiper-slide img.height-500 {
  height: 500px !important;
}

.elementor-section .box {
  box-shadow: 0px 22px 60px 0px rgba(37, 48, 65, 0.05);
}

.client-bg {
  background-color: rgba(255, 255, 255, 0.05);
}

.client-bg-before::before {
  content: "";
  position: absolute;
  width: 650px;
  height: 650px;

  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.05);
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
}

@media (max-width: 1200px) {
  .client-bg-before::before {
    z-index: -1000;
    display: none;
  }
}

.hero-bg::after {
  content: "";
  z-index: -1;
  background-color: transparent;

  position: absolute;

  border: 344px solid #e4f0ff;
  bottom: 0;
  right: 0;
  transform: rotate(49deg) translate(500px, 0px);
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: #0052da;
  transform-origin: 0%;
  z-index: 100000;
}

.btn-style:hover {
  background-color: transparent;
}

@media (max-width: 600px) {
  h2.text-swipper {
    font-size: 20px;
    line-height: 1.5;
  }
}
@media (min-width: 601px) and (max-width: 1200px) {
  h2.text-swipper {
    font-size: 30px;
    line-height: 2;
  }
}
@media (min-width: 1201px) {
  h2.text-swipper {
    font-size: 50px;
    line-height: 2;
  }
}

.service-img {
  max-height: 500px !important;
}

@media (max-width: 768px) {
  .service-img {
    height: 250px !important;
  }
}

@keyframes change-background {
  0%,
  100% {
    background-image: url("/discount-background1.jpg");
  }
  50% {
    background-image: url("/discount-background2.jpg");
  }
}

@keyframes btn {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
